body{
    font-family: 'Roboto', sans-serif;
}
.color{
    color: darkblue;
}
.link-button{
    text-decoration: none;
    color: ghostwhite;
    background-image: linear-gradient(lightseagreen,mediumblue);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 20px;
}
section{
    display: flex;
    margin: 50px;
}
.half-width{
    width: 50%;
    margin: 30px;
}
.top-margin{
    margin-top: 100px;
}
