body{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
.color{
    color: darkblue;
}
.link-button{
    text-decoration: none;
    color: ghostwhite;
    background-image: linear-gradient(lightseagreen,mediumblue);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 20px;
}
section{
    display: flex;
    margin: 50px;
}
.half-width{
    width: 50%;
    margin: 30px;
}
.top-margin{
    margin-top: 100px;
}
#text-aline{
   text-align: center;
}
.last-banner{
    margin-right:20px;

    width: 30%px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px whitesmoke;
    


}
